/* Intro */

.intro__button {
  padding-bottom: $p286;
}

/* Cooperation section */

.cooperation__gallery__item {
  min-height: 460px;
}

.cooperation__gallery__suptitle {
  p {
    min-height: 160px;
  }
}

/* Stages section */

.stages__wrapper {
  width: 100%;
}

.stages__col {
  justify-content: flex-start;
}

.stage {
  margin-bottom: 96px;

  h4 {
    @include mont24Bold();
  }

  h5 {
    @include mont14Regular();
    padding-top: $p16;
  }
}

.timeline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: $smallblue;
    top: 15px;
    bottom: 0;
    left: 50%;
  }
}

@media #{$lg} {
  .examples {
    padding-bottom: $p104;
  }
}

@media #{$xs} {
  .examples {
    padding-bottom: $p104;
  }

  .intro__button {
    padding-bottom: $p64;
  }

  .timeline {
    &::after {
      height: auto;
    }
  }
}