.intro {
  padding-bottom: 0;
}

/* What are you getting section */



/* Cooperation section */

.cooperation__gallery__inner {
  padding-bottom: 184px
}

.cooperation__gallery__item {
  min-height: 460px;
}


/* Stages section */

.stages__col {
  justify-content: flex-start;
}