.up_down_btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 34px;
  background: $orange;
  color: $white;
  cursor: pointer;
  border-radius: 20px;
  display: none;
  font-size: 35px;

  transition: all 0.3s ease;
}

.up_down_btn {
  &:hover {
    background: $blue70;
  }
}

.up_down_btn-show {
  display: block;
}

.up_down_btn-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}