.weDo__photo__inner {
  text-align: center;
}

.weDo__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: $p64;
  padding-bottom: $p200;
}

.weDo__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 540px;
  height: auto;
  margin-left: $p48;
  margin-bottom: $p48;
}

.weDo__item__title {
  @include mont24Bold ();
  padding-top: 27px;
  padding-bottom: $p16;
}

.weDo__item__text {
  @include mont14Regular();
}

.usefulToWork__photo {
  text-align: center;
}